/* colors */
:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/* fonts */
@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* body */

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--stone-100);
    color: var(--stone-900);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

h1,
h2 {
    font-family: 'Young Serif', serif;
    color: var(--stone-900);
}

.recipe-page__card {
    background-color: var(--white);
    height: auto;
    border-radius: 16px;
    padding: 0;
    max-width: 736px;
    width: 100%;
    text-align: left;
    margin: auto;
    overflow: hidden;
}

.recipe-page__image {
    margin: 0;
    padding: 36px;
}

.recipe-page__image img {
    border-radius: 1em;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

/* Typography */
h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.75rem;
    color: var(--brown-800);
    margin-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--stone-600);
    margin-bottom: 2rem;
}

/* Content sections */
article {
    padding: 2.5rem;
}

section {
    margin-top: 2rem;
}

ul,
ol {
    color: var(--stone-600);
    padding-left: 1.25rem;
    margin-bottom: 2rem;
}

li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

/* Nutrition table */
table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--stone-150);
}

tr:last-child {
    border-bottom: none;
}

td {
    padding: 1rem 0;
    color: var(--stone-600);
}

td:last-child {
    color: var(--brown-800);
    font-weight: 600;
    text-align: right;
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
    /* color: var(--white); */
}

.attribution a {
    /* color: var(--green); */
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}