
/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
    /* color: var(--white); */
}

.attribution a {
    /* color: var(--green); */
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Layouts */